body{
    text-align: center;
    background-color:#E0FFFF;
}
h1{
    margin-top: 0;
    font-size: 60px;
    color:mediumpurple;
}
h2{
color:mediumpurple;
font-weight: normal;
padding-bottom: 10px;
}
h3{
color:mediumpurple;
font-weight: normal;
}
.profile-pic{
    
}
.hermoine:hover{
    transform: scale(1.2);
    padding: 10px 10px 10px 10px; 
    background-color: crimson;
    margin-right: 30px;

}
h1{
    font-family: 'Sacramento';
}
.hermoine{
    border-radius: 50%;
    float: left;
    width: 25%;
    margin-right: 30px;
}
p{
    color:brown;
    font-size: 20px;
    line-height: 2;
    padding-bottom: 20px;
}
.harry{
    border-radius: 90%;
    box-shadow: 0 0 10px 10px rgba(0, 140, 186, 0.5);
    width:25%;
    float: right;
}
.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
}
.top{
    background-color:honeydew;
    padding-top: 100px;
    position:relative;
    font-size: 20px;
}
.middle{
    background-color: crimson;
    height: 200px;
    width: 200px;
}
.bottom{
    background-color:darkgreen;
    height: 200px;
    width: 200px;
    
}
.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.middle-container{
    padding: 100px 0 100px 0;
}
.intro{
    width: 30%;
    margin: 0 auto 0 auto;
}
hr{
    border-color: gray;
    border-style: dotted none none none;
    width: 5%;
    border-width: 10px;
}
.fix{
    left:40%;
    top:40px;
    position: fixed;
}